@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome</h1>
            </hgroup>
            <p>
                Browse the website or @Html.ActionLink("log in", "Login", "Account") for more access rights
            </p>
        </div>
    </section>
}
<h3>Make your choice:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("View networks", "Index", "Sensor")</h5>
        Browse through the available networks.
        This will be done as a visitor when not logged in.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Log in for more access rights", "Login", "Account")</h5>
        When logged in, you will have more access rights on this web interface.
        If you don't have an account yet, contact one of our admins who are able to make one for you.
    </li>

    @if(User.IsInRole("Installer") || User.IsInRole("Admin"))
    {
        <li class="three">
            <h5>@Html.ActionLink("Admin panel", "Index", "Admin")</h5>
            When logged in, you will have more access rights on this web interface.
            If you don't have an account yet, contact one of our admins who are able to make one for you.
        </li>
    }
</ol>
