@{
    ViewBag.Title = "Index";
}

<h2>Choose your module</h2>

<h3>Ground Floor</h3>
<a href="~/Sensor/Module?imageid=1&floor=31"><img src="../Images/testImage.png" /></a>

<h3>Module 3-6</h3>
<a href="~/Sensor/Module?imageid=2&floor=327"><img src="../Images/testImage.png" /></a>

<h3>Module 7-10</h3>
<a href="~/Sensor/Module?imageid=3&floor=327"><img src="../Images/testImage.png" /></a>

<h3>Module 11-14</h3>
<a href="~/Sensor/Module?imageid=4&floor=327"><img src="../Images/testImage.png" /></a>

<h3>Rooftop</h3>
<a href="~/Sensor/Module?imageid=5&floor=327"><img src="../Images/testImage.png" /></a>

<h3>Parking -1</h3>
<a href="~/Sensor/Module?imageid=6&floor=327"><img src="../Images/testImage.png" /></a>

<h3>Parking -2</h3>
<a href="~/Sensor/Module?imageid=7&floor=327"><img src="../Images/testImage.png" /></a>

